<!DOCTYPE html>
<html lang="en" /></html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="static/style.css"/>
</head>

<head>
    <title>The Archive</title>
</head>

<body>

    #(insert code here?)

    <h1>Ice Plant</h1>
    <p>The Carpobrotus, commonly known as the "Ice Plant," is an inhabitant of the California Coast. It houses pointed leaves adorned in delicate shades of pink and yellow. The Carpobrotus often emerges as a solitary figure in its landscape. Its presence does not come without consequence, as the Carpobrotus is an invasive species. The heaviness of the plant causes its roots to break off in shallow areas, taking topsoil nutrients from the landscape along with it.</p>
    <br>
    
    #(insert code here?)

    <h1>Pneumatocyst</h1>
    <p>The Pneumatocyst is a floating, completely hollow structure found on brown seaweed that contains carbon monoxide. It drifts along the surface of ocean water in order to catch sun rays for photosynthesis.</p>
</body>

</html>